/*
  All rights reserved 2013 Henry Hirsch

  This file is part of Babel.

  Babel is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Foobar is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Babel.  If not, see <http://www.gnu.org/licenses/>.
*/

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 30pt "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

#button { padding: .5em 1em; text-decoration: none; }

#babel_window p{ 
    font-size: 45pt;
}

#babel_window{ 
    display: none;
    width: 800px; height: 400px; 
    position: relative; 
    margin-top: 20px; margin: 50px; text-align: center;
}

#message{ 
    position: relative; 
    bottom: 10px; margin: 50px; text-align: center;
}


#babel_window h3 { margin: 0; padding: 0.4em; text-align: center; }
.ui-effects-transfer { border: 2px dotted gray; }

input {
    color: black !important;
    height: 50px;
}

input.ui-text{
    padding: 10px !important;
}